:root {
  --nc-nadeshiko: #dc9f84;
  --nc-kohbai: #e16b8c;
  --nc-suoh: #8e354a;
  --nc-taikoh: #f8c3cd;
  --nc-ikkonzome: #f4a7b9;
  --nc-kuwazome: #64363c;
  --nc-momo: #f596aa;
  --nc-ichigo: #b5495b;
  --nc-usubeni: #e87a90;
  --nc-imayoh: #d05a6e;
  --nc-nakabeni: #db4d6d;
  --nc-sakura: #fedfe1;
  --nc-umenezumi: #9e7a7a;
  --nc-karakurenai: #d0104c;
  --nc-enji: #9f353a;
  --nc-kurenai: #cb1b45;
  --nc-toki: #eea9a9;
  --nc-cyohsyun: #bf6766;
  --nc-kokiake: #86473f;
  --nc-sakuranezumi: #b19693;
  --nc-jinzamomi: #eb7a77;
  --nc-azuki: #954a45;
  --nc-suohkoh: #a96360;
  --nc-akabeni: #cb4042;
  --nc-shinsyu: #ab3b3a;
  --nc-haizakura: #d7c4bb;
  --nc-kuriume: #904840;
  --nc-ebicha: #734338;
  --nc-ginsyu: #c73e3a;
  --nc-kurotobi: #554236;
  --nc-benitobi: #994639;
  --nc-akebono: #f19483;
  --nc-benikaba: #b54434;
  --nc-mizugaki: #b9887d;
  --nc-sangosyu: #f17c67;
  --nc-benihiwada: #884c3a;
  --nc-syojyohi: #e83015;
  --nc-entan: #d75455;
  --nc-shikancha: #b55d4c;
  --nc-hiwada: #854836;
  --nc-kakishibu: #a35e47;
  --nc-ake: #cc543a;
  --nc-tobi: #724832;
  --nc-benihi: #f75c2f;
  --nc-kurikawacha: #6a4028;
  --nc-bengara: #9a5034;
  --nc-terigaki: #c46243;
  --nc-edocha: #af5f3c;
  --nc-araisyu: #fb966e;
  --nc-momoshiocha: #724938;
  --nc-karacha: #b47157;
  --nc-tokigaracha: #db8e71;
  --nc-ohni: #f05e1c;
  --nc-sohi: #ed784a;
  --nc-ensyucha: #ca7853;
  --nc-kabacha: #b35c37;
  --nc-kogecha: #563f2e;
  --nc-akakoh: #e3916e;
  --nc-suzumecha: #8f5a3c;
  --nc-shishi: #f0a986;
  --nc-sodenkaracha: #a0674b;
  --nc-kaba: #c1693c;
  --nc-kokikuchinashi: #fb9966;
  --nc-kurumi: #947a6d;
  --nc-taisya: #a36336;
  --nc-araigaki: #e79460;
  --nc-kohrozen: #7d532c;
  --nc-akakuchiba: #c78550;
  --nc-tonocha: #985f2a;
  --nc-akashiritsurubami: #e1a679;
  --nc-sencha: #855b32;
  --nc-kanzo: #fc9f4d;
  --nc-sharegaki: #ffba84;
  --nc-beniukon: #e98b2a;
  --nc-umezome: #e9a368;
  --nc-biwacha: #b17844;
  --nc-chojicha: #96632e;
  --nc-kenpohzome: #43341b;
  --nc-kohaku: #ca7a2c;
  --nc-usugaki: #ecb88a;
  --nc-kyara: #78552b;
  --nc-chojizome: #b07736;
  --nc-fushizome: #967249;
  --nc-kuchiba: #e2943b;
  --nc-kincha: #c7802d;
  --nc-kitsune: #9b6e23;
  --nc-susutake: #6e552f;
  --nc-usukoh: #ebb471;
  --nc-tonoko: #d7b98e;
  --nc-ginsusutake: #82663a;
  --nc-ohdo: #b68e55;
  --nc-shiracha: #bc9f77;
  --nc-kobicha: #876633;
  --nc-kigaracha: #c18a26;
  --nc-yamabuki: #ffb11b;
  --nc-yamabukicha: #d19826;
  --nc-hajizome: #dda52d;
  --nc-kuwacha: #c99833;
  --nc-tamago: #f9bf45;
  --nc-shirotsurubami: #dcb879;
  --nc-kitsurubami: #ba9132;
  --nc-tamamorokoshi: #e8b647;
  --nc-hanaba: #f7c242;
  --nc-namakabe: #7d6c46;
  --nc-torinoko: #dac9a6;
  --nc-usuki: #fad689;
  --nc-kikuchiba: #d9ab42;
  --nc-kuchinashi: #f6c555;
  --nc-tohoh: #ffc408;
  --nc-ukon: #efbb24;
  --nc-karashi: #caad5f;
  --nc-higosusutake: #8d742a;
  --nc-rikyushiracha: #b4a582;
  --nc-aku: #877f6c;
  --nc-rikyucha: #897d55;
  --nc-rokohcha: #74673e;
  --nc-nataneyu: #a28c37;
  --nc-uguisucha: #6c6024;
  --nc-kimirucha: #867835;
  --nc-mirucha: #62592c;
  --nc-kariyasu: #e9cd4c;
  --nc-nanohana: #f7d94c;
  --nc-kihada: #fbe251;
  --nc-mushikuri: #d9cd90;
  --nc-aokuchiba: #ada142;
  --nc-ominaeshi: #ddd23b;
  --nc-hiwacha: #a5a051;
  --nc-hiwa: #bec23f;
  --nc-uguisu: #6c6a2d;
  --nc-yanagicha: #939650;
  --nc-koke: #838a2d;
  --nc-kikujin: #b1b479;
  --nc-rikancha: #616138;
  --nc-aikobicha: #4b4e2a;
  --nc-miru: #5b622e;
  --nc-sensaicha: #4d5139;
  --nc-baikocha: #89916b;
  --nc-hiwamoegi: #90b44b;
  --nc-yanagizome: #91ad70;
  --nc-urayanagi: #b5caa0;
  --nc-iwaicha: #646a58;
  --nc-moegi: #7ba23f;
  --nc-nae: #86c166;
  --nc-yanagisusutake: #4a593d;
  --nc-matsuba: #42602d;
  --nc-aoni: #516e41;
  --nc-usuao: #91b493;
  --nc-yanaginezumi: #808f7c;
  --nc-tokiwa: #1b813e;
  --nc-wakatake: #5dac81;
  --nc-chitosemidori: #36563c;
  --nc-midori: #227d51;
  --nc-byakuroku: #a8d8b9;
  --nc-oitake: #6a8372;
  --nc-tokusa: #2d6d4b;
  --nc-onandocha: #465d4c;
  --nc-rokusyoh: #24936e;
  --nc-sabiseiji: #86a697;
  --nc-aotake: #00896c;
  --nc-veludo: #096148;
  --nc-mushiao: #20604f;
  --nc-aimirucha: #0f4c3a;
  --nc-tonocha2: #4f726c;
  --nc-aomidori: #00aa90;
  --nc-seiji: #69b0ac;
  --nc-tetsu: #26453d;
  --nc-mizuasagi: #66bab7;
  --nc-seiheki: #268785;
  --nc-sabitetsuonando: #405b55;
  --nc-korainando: #305a56;
  --nc-byakugun: #78c2c4;
  --nc-omeshicha: #376b6d;
  --nc-kamenozoki: #a5dee4;
  --nc-fukagawanezumi: #77969a;
  --nc-sabiasagi: #6699a1;
  --nc-mizu: #81c7d4;
  --nc-asagi: #33a6b8;
  --nc-onando: #0c4842;
  --nc-ai: #0d5661;
  --nc-shinbashi: #0089a7;
  --nc-sabionando: #336774;
  --nc-tetsuonando: #255359;
  --nc-hanaasagi: #1e88a8;
  --nc-ainezumi: #566c73;
  --nc-masuhana: #577c8a;
  --nc-sora: #58b2dc;
  --nc-noshimehana: #2b5f75;
  --nc-chigusa: #3a8fb7;
  --nc-omeshionando: #2e5c6e;
  --nc-hanada: #006284;
  --nc-wasurenagusa: #7db9de;
  --nc-gunjyo: #51a8dd;
  --nc-tsuyukusa: #2ea9df;
  --nc-kurotsurubami: #0b1013;
  --nc-kon: #0f2540;
  --nc-kachi: #08192d;
  --nc-ruri: #005caf;
  --nc-rurikon: #0b346e;
  --nc-benimidori: #7b90d2;
  --nc-fujinezumi: #6e75a4;
  --nc-tetsukon: #261e47;
  --nc-konjyo: #113285;
  --nc-benikakehana: #4e4f97;
  --nc-konkikyo: #211e55;
  --nc-fuji: #8b81c3;
  --nc-futaai: #70649a;
  --nc-ouchi: #9b90c2;
  --nc-fujimurasaki: #8a6bbe;
  --nc-kikyo: #6a4c9c;
  --nc-shion: #8f77b5;
  --nc-messhi: #533d5b;
  --nc-usu: #b28fce;
  --nc-hashita: #986db2;
  --nc-edomurasaki: #77428d;
  --nc-shikon: #3c2f41;
  --nc-kokimurasaki: #4a225d;
  --nc-sumire: #66327c;
  --nc-murasaki: #592c63;
  --nc-ayame: #6f3381;
  --nc-fujisusutake: #574c57;
  --nc-benifuji: #b481bb;
  --nc-kurobeni: #3f2b36;
  --nc-nasukon: #572a3f;
  --nc-budohnezumi: #5e3d50;
  --nc-hatobanezumi: #72636e;
  --nc-kakitsubata: #622954;
  --nc-ebizome: #6d2e5b;
  --nc-botan: #c1328e;
  --nc-umemurasaki: #a8497a;
  --nc-nisemurasaki: #562e37;
  --nc-tsutsuji: #e03c8a;
  --nc-murasakitobi: #60373e;
  --nc-shironeri: #fcfaf2;
  --nc-gofun: #fffffb;
  --nc-shironezumi: #bdc0ba;
  --nc-ginnezumi: #91989f;
  --nc-namari: #787878;
  --nc-hai: #828282;
  --nc-sunezumi: #787d7b;
  --nc-rikyunezumi: #707c74;
  --nc-nibi: #656765;
  --nc-aonibi: #535953;
  --nc-dobunezumi: #4f4f48;
  --nc-benikeshinezumi: #52433d;
  --nc-aisumicha: #373c38;
  --nc-binrojizome: #3a3226;
  --nc-keshizumi: #434343;
  --nc-sumi: #1c1c1c;
  --nc-kuro: #080808;
  --nc-ro: #0c0c0c;
}
